<div class ="container">
    <div class = "card">
        <h3 class = "text_center"> Region list </h3>
        <div class="card_body">
            <table class="table table-striped">
                <thead>
                  <th> Id Tranche</th>
                  
                  <th> Montant</th>
                  <th> Action</th>
                  
                 </thead>
                <tbody>
                  <tr *ngFor="let tranche of tranches ">
                      <td> {{ tranche.idTranche}}</td>
                      <td>{{tranche.montant}} </td>
                      <td>



                        
                           </td>
                     
                     
                      </tr>


