<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MUO</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/employees">Employe</a></li>
        <li class="services">
          <a routerLink="/accidents">Accedent</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </div>
    </ul>
  </nav>