<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> age :</b></label>{{employee.age}}

    </div>
    <div>
        <label> <b> Date de recrutement :</b></label>{{employee.daterecrutement}}

    </div>
    <div>
        <label> <b> Email :</b></label>{{employee.email}}


    </div>
    <div>
        <label> <b> etat civil :</b></label>{{employee.etatcivil}}

    </div>
    <div>
        <label> <b> matricule :</b></label>{{employee.matricule}}

    </div>
    <div>
        <label> <b> nom :</b></label>{{employee.nom}}

    </div>
    <div>
        <label> <b> prenom :</b></label>{{employee.prenom}}

    </div>
    <div>
        <label> <b> role :</b></label>{{employee.role.roleName   }}

    </div>
    <div>
        <label> <b> username:</b></label>{{employee.username   }}


    </div>
    <div>
        <label> <b> region:</b></label>{{employee.region.libelle}}
        

    </div>
    <div>
        <label> <b> service:</b></label>{{employee.service.service   }}
        

    </div>

</div>
