<div class="col-md-6 offset-md-3">
    <h3> Create  Dossier Medical  </h3>
      <div *ngIf="!submitted">
        <div class="form-group">
            <label for="numDossier">Num Dossier </label>
            <input
              class="form-control"
              id="numDossier"
              required
              [(ngModel)]= "dossier.numDossier"
              name="numDossier"
            />
          </div>
          <div class="form-group">
            <label for="etat">Etat</label>
            <input
            type="Boolean"
              class="form-control"
              id="etat"
              required
              [(ngModel)]="dossier.etat"
              name="etat"
            />
          </div>
         
            <p>   Les Document Necéssaires </p>
            
            
           

        
         
        <button class ="btn btn-success" (click)="onSubmit()"> submit</button>
       
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
       
    </div>

