<div class ="container">
    <div class = "card">
        <h3 class = "text_center"> Service list </h3>
        <div class="card_body">
            <table class="table table-striped">
                <thead>
                  <th> Id</th>
                  
                  <th> Libelle </th>
                  <th> Service</th>
                 </thead>
                <tbody>
                  <tr *ngFor="let service of services ">
                      <td>{{service.id}} </td>
                      <td>{{service.libelle}} </td>
                      <td>{{service.service}} </td>
                      </tr>
